extends layout

block append header
  script(type='text/javascript', src='/javascripts/chat.js')

block content
  .container
    #header
      p#room_name.text-center Loading..
      a.btn2.btn-leave(href='', title='Leave Group') Leave Group
      a.btn2.btn-back(href='index.html', title='Back') Back
    //
       /#header 
    #content
    form#form
      a.btn3(href='') a
      a.btn3(href='') b
      input#msg(type='text')
      input.btn3.btn-send(type='submit', value='Send')
    //
       /#form 
  //
     /.container 
