extends layout

block append header
  script(type='text/javascript', src='/javascripts/list.js')

block content
  .container
    #header
      p.text-center Groups
      a.btn2.btn-new(href='') New Group
    //
       /#header 
    #content-long
      h5 Joined Groups
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
      h5 Available Groups
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
      a.item(href='chat.html')
        img(src='http://lorempixel.com/80/80', alt='')
        | Group Name1
      //
         /.item 
    //
       /#content 
  //
     /.container 
