extends layout

block append header
  script(type='text/javascript', src='/javascripts/list.js')

block content
  .container
    #header
      p.text-center Groups
      a#new-group.btn2.btn-new(href='#') New Group
    //
       /#header 
    #content-long
      h5 Joined Groups
      #joined
      h5 Available Groups
      #available